.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=number] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn-normal:hover {
  opacity: 1;
}

.form-container .btn-normal {
  width: 45%;
  margin-top: 10px;
  margin-bottom:10px;
  opacity: 0.8;
}