table, th, td {
	border: 2px solid #008CBA;
	border-collapse: collapse;
	padding: 5px;
}

table {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	width: 85%;
}

.table-style {
	position: absolute;
	top: 80px;
	right: 0;
	width: 80%;
}

.table-button {
	position: absolute;
	top:50px;
	right: 0;
	width: 80%;
}

tfoot {
	text-align: right;
}

td .btn-page {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	background-color: white; 
  	color: black; 
  	border: 2px solid #008CBA;
}

td .btn-page:hover {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	background-color: #008CBA;
  	color: white;
}

td .btn-now {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	background-color: white; 
  	color: black; 
  	border: 2px solid #4CAF50;
}

td .btn-now:hover {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	background-color: #4CAF50;
  	color: white;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}